@font-face {font-family: Pusab; src: url('../Pusab.ttf')}

p {
  font-family: pusab;
  -webkit-text-stroke: 1.5px;
  color: #ffffff;
  text-shadow: 4px 4px 2px #000000;
}
html {
  background-image: linear-gradient(#0065fd, #002e73):
}
