@font-face {font-family: Pusab; src: url('../Pusab.ttf')}

p {
  font-family: Pusab;
  font-size: 40px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
  text-shadow: 2px 2px 3px #0000008a;
}
html {
  background-image: linear-gradient(#0065fd, #002e73);
  height: 100%;
}
