@font-face {font-family: Pusab; src: url('../Pusab.ttf')}

div#content {
  display: grid;
  justify-items: center;
  transform: translate(0px, 150px);
}
p {
  font-family: Pusab;
  font-size: 40px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
  text-shadow: 2px 2px 3px #0000008a;
}
html {
  background-image: linear-gradient(#0065fd, #002e73);
  height: 100%;
  --gdbrown: #995533;
  --btnGreen: #7ADE2D;
}
button {
  font-family: 'Pusab';
  font-size: 25px;
  -webkit-text-stroke: 1.2px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
  text-shadow: 1px 1px 3px #0000008a;
  border-image: url(/gdeditor/assets/btn_green.png) 16% round;
  border-width: 15px;
  border-radius: 15px;
  padding: 4px 16px;
  background-color: var(--btnGreen);
  cursor: pointer;
}
input#levelNameInput {
  border: 0 solid transparent;
  border-radius: 21px;
  background-color: #0000004d;
  white-space: nowrap;
}
div#brownbox {
  border-width: 25px;
  border-style: solid;
  border-radius: 30px;
  background-color: var(--gdbrown);
  border-image: url(/gdeditor/assets/brownbox.png) 12% round;
  padding: 0px 128px 24px;
  display: grid;
  justify-items: center;
}
