@font-face {font-family: Pusab; src: url(/gdeditor/assets/fonts/Pusab.ttf)}
@font-face {font-family: Aller; src: url(/gdeditor/assets/fonts/Aller.ttf)}

div#content {
  display: grid;
  justify-items: center;
  transform: translate(0px, 150px);
}
p {
  font-family: Pusab;
  font-size: 50px;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
  text-shadow: 3.3px 3.3px 1.5px #00000050;
}
span.gold {
  color: transparent;
  background-image: linear-gradient(#ffaa00, #fcff6d);
  -webkit-background-clip: text;
  text-shadow: 0 0 transparent;
  letter-spacing: -1px;
}
span.gold::before { /* aaaaaa why did making gold text have to be so hard */
  content: attr(data-text);
  position: absolute;
  color: #00000050;
  -webkit-text-stroke-width: 0px;
  z-index: -1;
  filter: blur(1px);
  transform: translate(3px, 3px);
  text-shadow: none;
}
span.helvetica {
  font-family: Helvetica;
  font-size: 30px;
  -webkit-text-stroke-width: 0px;
  text-shadow: none;
}
html#gradientBG {
  background-image: linear-gradient(#0065fd, #002e73);
  height: 100%;
}
html#editorBG {
  background-image: url(/gdeditor/assets/game_bg_01_001-uhd.png);
  background-color: #287dff;
  background-blend-mode: multiply;
  background-position-y: center;
  background-size: 1500px;
}
html {
  --gdbrown: #995533;
  --btnGreen: #7ADE2D;
  --fancybox: #001931;
}
button {
  font-family: 'Pusab';
  font-size: 35px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
  text-shadow: 2.3px 2.3px 1.5px #00000050;
  border-image: url(/gdeditor/assets/btn_green.png) 16% round;
  border-width: 15px;
  border-radius: 15px;
  padding: 4px 32px;
  background-color: var(--btnGreen);
  cursor: pointer;
}
button#editorUndo {
  background-color: transparent;
  background-image: url(/gdeditor/assets/GJ_undoBtn_001.png);
  border-width: 0px;
  background-size: 100%;
  background-position-y: center;
  padding: 36px 36px;
  margin-right: 8px;
}
button#editorRedo {
  background-color: transparent;
  background-image: url(/gdeditor/assets/GJ_redoBtn_001.png);
  border-width: 0px;
  background-size: 100%;
  background-position-y: center;
  padding: 36px 36px;
  margin-right: 8px;
}
button#editorTrash {
  background-color: transparent;
  background-image: url(/gdeditor/assets/GJ_trashBtn_001.png);
  border-width: 0px;
  background-size: 100%;
  background-position-y: center;
  padding: 36px 36px;
  margin-right: 8px;
}
button#editorZoomIn {
  background-color: transparent;
  background-image: url(/gdeditor/assets/GJ_zoomInBtn_001.png);
  border-width: 0px;
  background-size: 100%;
  background-position-y: center;
  padding: 24px 24px;
  margin-bottom: 8px;
  transform: translate(-230px, 70px);
}
button#editorZoomOut {
  background-color: transparent;
  background-image: url(/gdeditor/assets/GJ_zoomOutBtn_001.png);
  border-width: 0px;
  background-size: 100%;
  background-position-y: center;
  padding: 24px 24px;
  margin-bottom: 8px;
  transform: translate(-278px, 130px);
}
input#levelNameInput {
  border: 0 solid transparent;
  border-radius: 2vh;
  background-color: #0000004d;
  font-family: Pusab;
  font-size: 30px;
  -webkit-text-stroke: 1.2px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
  text-shadow: 2.3px 2.3px 1.5px #00000050;
  text-align: center;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}
::placeholder {
  color: #6F98D8;
  font-size: 25px;
}
div#brownbox {
  border-width: 25px;
  border-style: solid;
  border-radius: 30px;
  background-color: var(--gdbrown);
  border-image: url(/gdeditor/assets/brownbox.png) 12% round;
  padding: 0px 128px 24px;
  display: grid;
  justify-items: center;
  z-index: -1;
}
div#fancybox {
  border: 28px solid rgba(0, 0, 0, 0);
  border-radius: 32px;
  background-color: var(--fancybox);
  border-image: url(/gdeditor/assets/fancybox.png) 10% stretch;
  padding: 0px 48px 24px;
  display: grid;
  justify-items: center;
  z-index: -1;
}
